data/
logs/
models/
plots/
preprocessed_data/
results/
trained_models/
venv/
.idea/
__pycache__/
tmp_stuff_to_safe/

scream_study/

sandbox.py

.DS_Store
requirements.txt
Dockerfile
copy_to_cluster.sh
plot*
*.html

old_scripts/
